<div class="row">
  <div class="col-md-12 col-sm-3">
    <div class="the-box">
    <div class="row">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group" class="col-md-12 col-sm-3">
          <input type="text" class="form-control" ng-model="searchText" placeholder="Buscar">
        </div>
        <div class="form-group">
          <a type="button" ng-click="search();" class="form-control btn btn-info" >&nbsp;<i class="fa fa-sign-in"></i>&nbsp;</a>
        </div>
      </form>
    </div>
    <div class="row">
      <div ng-repeat="film in films| filter:searchText">
        <div class="col-sm-3">
          <div class="the-box no-border bg-success tiles-information">
            <i class="fa fa-film icon-bg"></i>
            <div class="tiles-inner text-center">
              <p>{{film.name}}</p>
              <h1 class="bolded">{{film.code}}</h1> 
              <div class="progress no-rounded progress-xs">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                </div><!-- /.progress-bar .progress-bar-success -->
              </div><!-- /.progress .no-rounded -->
              <p><small>{{film.support}}</small></p>
              <p><small>{{film.category}}</small></p>
              <p><small>{{film.quality}}</small></p>
            </div><!-- /.tiles-inner -->
          </div><!-- /.the-box no-border -->
        </div><!-- /.col-sm-3 -->
      </div>  
    </div><!-- /.row -->
    <div class="row">
      <div ng-repeat="film in filmsByCode| filter:searchText">
        <div class="col-sm-3">
          <div class="the-box no-border bg-success tiles-information">
            <i class="fa fa-film icon-bg"></i>
            <div class="tiles-inner text-center">
              <p>{{film.name}}</p>
              <h1 class="bolded">{{film.code}}</h1> 
              <div class="progress no-rounded progress-xs">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                </div><!-- /.progress-bar .progress-bar-success -->
              </div><!-- /.progress .no-rounded -->
              <p><small>{{film.support}}</small></p>
              <p><small>{{film.category}}</small></p>
              <p><small>{{film.quality}}</small></p>
            </div><!-- /.tiles-inner -->
          </div><!-- /.the-box no-border -->
        </div><!-- /.col-sm-3 -->
      </div>  
    </div><!-- /.row -->
    <div class="row"> 
      <div ng-repeat="game in games| filter:searchText">
        <div class="col-sm-3">
          <div class="the-box no-border bg-info tiles-information">
            <i class="fa fa-gamepad icon-bg"></i>
            <div class="tiles-inner text-center">
              <p>{{game.name}}</p>
              <h1 class="bolded">{{game.code}}</h1> 
              <div class="progress no-rounded progress-xs">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                </div><!-- /.progress-bar .progress-bar-success -->
              </div><!-- /.progress .no-rounded -->
              <p><small>{{game.platform}}</small></p>
              <p><small>{{game.support}}</small></p>
            </div><!-- /.tiles-inner -->
          </div><!-- /.the-box no-border -->
        </div><!-- /.col-sm-3 -->
      </div>  
    </div><!-- /.row -->
    <div class="row"> 
      <div ng-repeat="game in gamesByCode| filter:searchText">
        <div class="col-sm-3">
          <div class="the-box no-border bg-info tiles-information">
            <i class="fa fa-gamepad icon-bg"></i>
            <div class="tiles-inner text-center">
              <p>{{game.name}}</p>
              <h1 class="bolded">{{game.code}}</h1> 
              <div class="progress no-rounded progress-xs">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                </div><!-- /.progress-bar .progress-bar-success -->
              </div><!-- /.progress .no-rounded -->
              <p><small>{{game.platform}}</small></p>
              <p><small>{{game.support}}</small></p>
            </div><!-- /.tiles-inner -->
          </div><!-- /.the-box no-border -->
        </div><!-- /.col-sm-3 -->
      </div>  
    </div><!-- /.row -->
    <!--<div ng-repeat="product in products| filter:searchText">{{product.name}}</div>-->
    </div><!-- /.the-box -->
  </div>
</div>